@import "../../../css-config/mixins.scss";

.cartItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-img {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        @include sm {
            width: 100px;
            height: 100px;
        }
        img {
            width: 100%;
        }
    }
    .item-details {
        h3 {
            font-size: 16px;
            @include sm {
               font-size: 20px; 
            }
        }
        h4 {
            font-size: 14px;
            font-weight: 300;
            margin-top: 7px;
            @include sm {
                font-size: 18px; 
            }
        }
    }
    .quantity {
        border-radius: 20px;
        border: 1px solid #000;
        display: flex;
        justify-content: space-between;
        gap:10px;
        padding: 2px 6px;
        align-items: center;
        @include sm {
            padding: 5px 12px;
            gap:20px;
        }
        svg {
            font-size: 12px;
            @include sm {
                font-size: 16px;
            }
        }
    }
    .price {
        display: flex;
        align-items: center;
        gap:10px;
        @include sm {
            gap:33px;
        }
        span {
            color: #FF0404;
            font-size: 14px;
            font-weight: 600;
            @include sm {
                font-size: 18px;
            }
        }
        svg {
            font-size: 18px;
            @include sm {
                font-size: 24px;
            }
        }
    }
}