@import "../../css-config/mixins.scss";

.AdminAllOrdersPage {
    width: 100%;
    padding: 30px;

    .container {
        max-width: 1400px;
        margin: 0 auto;
        margin-top: 35px;
        min-height: 80vh;

        .title {
            display: flex;
            gap: 25px;
            margin-bottom: 40px;

            svg {
                font-size: 32px;

                @include md {
                    font-size: 42px;
                }
            }

            span {
                font-size: 25px;

                @include md {
                    font-size: 35px;
                }
            }
        }

        hr {
            background: #000;
            height: 2px;
            border: #000;
            margin-bottom: 25px;
        }

        .table_wrapper {
            overflow-x: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .table-head {
                background: #BBB;
                display: grid;
                grid-template-columns: 25% 15% 20% 25% 15%;
                text-align: center;
                margin-bottom: 17px;
                min-width: 800px;
                @include md {
                    min-width: 1230px;
                }

                .heading {
                    font-size: 21px;
                    padding: 15px 0;
                    @include md {
                        font-size: 28px;
                    }
                }
            }

            .table-content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                min-width: 800px;
                @include md {
                    min-width: 1230px;
                }

                .table_data {
                    background: #fff;
                    display: grid;
                    grid-template-columns: 25% 15% 20% 25% 15%;
                    text-align: center;
                    border: 0.5px solid #8B8A8A;

                    .content {
                        font-size: 18px;
                        font-weight: 400;
                        padding: 15px 0;
                        border: 0.5px solid #8B8A8A;
                        @include md {
                            font-size: 24px;
                        }

                        select {
                            padding: 8px 15px;
                            font-size: 18px;
                            font-weight: 400;
                            border: none;
                            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.30);
                            @include md {
                                font-size: 24px;
                            }
                        }
                    }

                    .orders_detail {
                        display: flex;
                        flex-direction: column;
                        text-align: start;
                        padding-left: 24px;

                        .id {
                            color: #FF0404;
                            font-size: 19px;
                            cursor: pointer;
                            margin-bottom: 10px;
                        }

                    }
                }

            }
        }


    }
}